
html, body, #map {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
}


.legend {
    line-height: 18px;
    color: gold;
}
.title h2 {
    color: gold;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

br {
  line-height:2em;/* chrome for instance */
}


