
#wrapper {
	width: 90%;
	max-width: 1200px; 
	min-width:550px;
	margin: 0 auto;
	margin-bottom: 60px;
}

p {
	text-indent: 50px;
} 

body {
	background-color: beige;
	margin-right: 100px;
}

#about {
	color: grey;
	font-family: Hoefler Text;
	font-style: italic;
	font-size: 35px;
	text-align: center;
	margin-top: 10px;
	margin-left: 180px;	
}
a.about {
	margin-right:auto;
	margin-top: 0.5em;
	margin-left:-25px;
	margin-bottom: 10px;
	color: black; 
    text-decoration: none;
 	font-family: serif;
 	font-style: italic;
 	font-size: 23px;
 	font-weight: bold;
  	vertical-align: center;
 	opacity: 0.8;
 	float:left;
 	clear: left;
    display:center;
}

.circle {
margin-left: 20px;
margin-right: 20px;
border-radius: 50%;
height: 100%;
float: left;
}

h1 {
	display: inline-block;
	position: absolute;
	position: relative;
	text-align:center;
	margin-bottom: -10px;
	font-style: italic;
	font-family: Garamond;
	color: grey;
	/*font-family: Hoefler Text;*/
	/*font-family: Baskerville Full Stack;*/
	/*font-family: Baskerville;*/
	/*font-family: Baskerville Old Face;*/
}



