body {
	margin: 0;
	padding: 0;
	background-color: beige;
}

div.top-div {
	clear: both;
	position: fixed;
	top 0;
	height: 10%;
	width: 100%;
	background-color: white;
}

a {
position: block;
font-size: 12px;
font-style: serif; 
float: right;
padding-right: 1em;
}

div.bottom-div {
  clear: both;
  position: fixed;
  height: 90%;
  width: 50;	
}
 h1 {
 	font-family: perpetua;
	font-style: italic; 
	width:100px;
	height:100px;
	font-style: bold;
	bottom: -90px;
	margin-left: 500px;
	margin-top: 100px;
	
  }

#oakland {
  border: solid 1px black;
  height: 80px;
  margin-bottom: 2em;
  width: 720px;
  margin-left:150px;
  background-image: url("../images/oakland_neighborhoods.png");
}

#toronto {
  border: solid 1px black;
  height: 80px;
  margin-bottom: 2em;
  width: 720px;
  margin-left:150px;
  background-image: url("../images/toronto_neighborhoods.png");
}

#cape_town {
  border: solid 1px black;
  height: 80px;
  margin-bottom: 2em;
  width: 720px;
  margin-left:150px;
  background-image: url("../images/cape_town_neighborhoods.png");
}

#cairo {
  border: solid 1px black;
  height: 80px;
  margin-bottom: 2em;
  width: 720px;
  margin-left:150px;
  background-image: url("../images/cairo_neighborhoods.png");
} 

#ho_chi_minh {
  border: solid 1px black;
  height: 80px;
  margin-bottom: 2em;
  width: 720px;
  margin-left:150px;
  background-image: url("../images/ho_chi_minh_neighborhoods.png");
}


 


	
		
	



