body {
	/*background-attachment: scroll;*/
	/*margin-top: 520px;*/
	background-image: url("../oakland.png");
	background-position: center ;
	background-size: cover;
	background-repeat: no-repeat;
    height: 1200px;
    width: 1200px;
}