body {
	background-color: beige;
}
input {
        max-width: 100%;
    } 

#wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

a {
	color: grey;
	text-decoration: none;
	font-family: Garamond;
}

a:first-child {
	text-decoration: none;
}

a:nth-child(2) {
    text-decoration: none;
}

a:nth-child(3) {
	text-decoration: none;
}

a:nth-child(4) {
	text-decoration: none;
}

h1 {
	position: absolute;
	position: relative;
	text-align:center;
	margin-left: -10px;
	margin-bottom: 20px;
	font-style: italic;
	font-family: Garamond;
	color: grey;
	/*font-family: Hoefler Text;*/
	/*font-family: Baskerville Full Stack;*/
	/*font-family: Baskerville;*/
	/*font-family: Baskerville Old Face;*/
	
}

h4 {
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
}

.row #bottom {
 /*margin-left: -50px;*/
 margin-right: 40px;
}

 a.about {
  	/*text-shadow:;*/
 	color: black; 
    text-decoration: none;
 	font-family: serif;
 	font-style: italic;
 	font-size: 23px;
 	font-weight: bold;
 	margin-top: 0.5em;
  	vertical-align: center;
 	opacity: 0.8;
 	float:left;
 	clear: left;
 	margin-left:auto;
    margin-right:auto;
   /* margin-top: -10px;*/
    display:center;
    margin-bottom: 10px;
 }

.project {
	margin: auto;
	position: relative;
	background-color: blue;
	height: 200px;
	width: 300px;
	margin: 7px 0px 0px 0px;	
}
.project:hover {
	text-decoration: none;
	height: 230px;
	width: 330px;
	box-shadow: 10px 0px 5px #888888;
}

.left {
	margin-left:auto;
    margin-right:20px;
    display:center;
	float: left;
}

.right {
	float: right;
	margin-left:20px;
    margin-right: auto;
    display:center;
	float: left;
}

#sf-jeru.project {
	background-image: url("../images/sf-jeru.png");
	background-size: cover;
	margin-bottom: 0px;
}


#osm.project {
	background-color: white;
	background-image: url("../images/osm_nyc.png");
	background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
}

#ldarch.project {
	background-image: url("../images/ldarch.png");
	background-size: cover;
}


#neighborhood.project {
	background-image: url("../images/neighborhood.png");
	background-position:  center center;
	background-size: cover;
	
}

#bloc_jams.project {
	background-image: url("../images/bloc-jams.png");
	background-size: cover;
}



