h1 {
	margin-left: 410px;
	font-style: italic;
	/*font-family: Hoefler Text;*/
	/*font-family: Times New Roman;*/
	/*font-family: Baskerville Full Stack;*/
	/*font-family: Baskerville;*/
	/*font-family: Baskerville Old Face;*/
	font-family: Garamond;
}

h4 {
	margin: 0px 0px 0px 0px;
}

a {
	color:  grey;
	text-decoration: none;
	font-family: Garamond;
	/*font-style: italic;*/
}


a #osm {
	margin: -0px 0px -17px 0px;
	}


.project {
	margin: auto;
	position; center;
	background-color: beige;
	height: 200px;
	width: 300px;
	margin: 0px 0px 0px 0px;	
}

.left {
	margin: auto;
	float: left;
	margin-left: 100px;
	margin-bottom: 5px;
}

.right {
	float: right;
}

#sf-jeru.project {
	background-image: url("../images/sf-jeru.png");
	background-size: cover;
}

#osm.project {
	background-color: white;
	background-image: url("../images/osm_nyc.png");
	background-repeat: no-repeat;
    background-position:  center center;
}

#ldarch.project {
	background-image: url("../images/ldarch.png");
	background-size: cover;
}

#neighborhood.project {
	background-image: url("../images/neighborhood.png");
	background-size: cover;
}

#bloc_jams.project {
	background-image: url("../images/bloc-jams.png");
	background-size: cover;
}



