body {
	background-color: beige;
}

a {
	color: grey;
	text-decoration: none;
	font-family: Garamond;
}

a:first-child {
	text-decoration: none;
}

a:nth-child(2) {
    text-decoration: none;
}

a:nth-child(3) {
	text-decoration: none;
}
a:nth-child(4) {
	text-decoration: none;
}
h1 {
	position: relative;
	text-align:center;
	margin-bottom: 20px;
	font-style: italic;
	/*font-family: Hoefler Text;*/
	font-family: Times New Roman;
	/*font-family: Baskerville Full Stack;*/
	/*font-family: Baskerville;*/
	/*font-family: Baskerville Old Face;*/
	font-family: Garamond;
	color: grey;
}

h4 {
	margin: 0px 0px 0px 0px;
	white-space: nowrap;
}

.project {
	margin: auto;
	position: relative;
	background-color: blue;
	height: 200px;
	width: 300px;
	margin: 7px 0px 0px 0px;	
}
.project:hover {
	text-decoration: none;
	height: 230px;
	width: 330px;
	box-shadow: 10px 0px 5px #888888;
}

.left {
	float: left;
}

.right {
	float: right;
}

#sf-jeru.project {
	background-image: url("../images/sf-jeru.png");
	background-size: cover;
	margin-bottom: 0px;
}


#osm.project {
	background-color: white;
	background-image: url("../images/osm_nyc.png");
	background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
}

#ldarch.project {
	background-image: url("../images/ldarch.png");
	background-size: cover;
}


#neighborhood.project {
	background-image: url("../images/neighborhood.png");
	background-position:  center center;
	background-size: cover;
	
}

#bloc_jams.project {
	background-image: url("../images/bloc-jams.png");
	background-size: cover;
}



