body {
	background-attachment: scroll;
	background-image: url("../jerusalem-sf.png");
	background-repeat: no-repeat;
    background-position:  center ;
    background-size: cover;
    height: 1200px;
    width: 1200px;
  
}

